In [1]:
print("hello world!")

hello world!

In [2]:
ODD = {1:'One',3:'Three',5:'Five',7:'Seven',9:'Nine'}

In [3]:
ODD

{1: 'One', 3: 'Three', 5: 'Five', 7: 'Seven', 9: 'Nine'}

In [4]:
ODD.keys()

dict_keys([1, 3, 5, 7, 9])

In [5]:
ODD.values()

dict_values(['One', 'Three', 'Five', 'Seven', 'Nine'])

In [6]:
ODD.items()

dict_items([(1, 'One'), (3, 'Three'), (5, 'Five'), (7, 'Seven'), (9, 'Nine')])

In [7]:
len(ODD)

5

In [8]:
7 in ODD

True

In [9]:
2 in ODD

False

In [10]:
ODD.get(9)

'Nine'

In [11]:
del ODD(9)

SyntaxError: cannot delete function call (1804934045.py, line 1)

In [12]:
del ODD[9]
ODD

{1: 'One', 3: 'Three', 5: 'Five', 7: 'Seven'}

In [16]:
num = int(input("Enter the number of employees whose data to be stored: "))
count = 1
employee = dict()
for count in range (num):
    name = input("Enter the name of the Employee: ")
    salary = int(input("Enter the salary: "))
    employee[name] = salary
print("\n\nEMPLOYEE_NAME\tSALARY")
for k in employee:
    print(k, '\t\t', employee[k])

Enter the number of employees whose data to be stored: 2
Enter the name of the Employee: Jarin
Enter the salary: 10
Enter the name of the Employee: Maruf
Enter the salary: 5


EMPLOYEE_NAME	SALARY
Jarin 		 10
Maruf 		 5

In [18]:
import numpy as np
a = np.array([10,20,30])
a

array([10, 20, 30])

In [19]:
import numpy as np
a = np.array([[10,20,30], [40, 50, 60]])
a

array([[10, 20, 30],
       [40, 50, 60]])

In [22]:
ls = np.linspace(1, 10, 10)
ls

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [24]:
np.zeros([5,5])

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [25]:
np.ones([5,5])

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])